*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: beige;
    background-image: url(assets/bg.png);
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: wheat;
    opacity: 0;
    padding-bottom: 20px;
    animation: entrance 1s .75s ease-in-out forwards;
}

#logo{
    animation: entrance 1s 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    opacity: 0;
}


#img{
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}

hr{
    margin-left: 10%;
    width: 80%;
    height: 4px;
    background-color: black;
    border: 0;
    border-radius: 50%;
}

.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar li, a{
    padding: 10px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color: wheat;
    display: flex;
    justify-content: center;
}

#main{
    animation: fade-in 0.5s 2s ease-in-out forwards;
    opacity: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Adjust the gap as needed */
}
@media screen and (max-width: 768px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        padding-left: 40px;
        width: auto;
    }
    #main .group{
        width: 80%;
    }
    #label {
        font-size: 20px;
    }
    .group{
        padding: 100px;
    }
}
#label{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid white;
    width: 100%;   
}

.group table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.group{
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 20px;
    padding: 3%;
    width: 50%;
    height: fit-content;
}

td{
    padding-right: 10px;
}


@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateY(-20vw);
    }100%{
        opacity: 1;
        transform: none;  
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }

}